<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Goibibo API Test Suite">
  <listeners>
    <listener class-name="TestNGListeners.CustomListener" />
  </listeners>
  <test name="Endpoints">
    <parameter name="city_id" value="6771549831164675055"/>
    <parameter name="responseTime" value="12000"/> 
    <classes>
      <class name="endpoints.hotel.Get_Hotels_By_City" />
      <class name="endpoints.bus.BusSearch" />
    </classes>
  </test>
</suite>

<!-- Major Areas for EndPoints
Functional
	Validating all HTTP Error Codes e.g. 2xx, 3xx, 4xx, 5xx
	Testing HTTP Calls and Their Responses with Valid/Boundary/Invalid Data
	Sending Test JSON Data with POST Calls and verifying changes in DB/data structures as a result of the Add/Update/Delete
	Validate response with supported authentication methods
	Validating different response types - XML ,JSON, etc.
	Schema validation - Validating JSON responses according to a schema
	Reusing Data from a Previous Call to the Next One
Non Functional
	Usability Tests – Well formedness of API
	Multiple API requests – with Load
	Validating Timeouts for the response
	API Documentation accessibility
	Security Tests 
	Integration Testing with other tool (if integrated)
 -->
